/*
 * Put your custom CSS code here
 */

/*START custom nav styles*/
/*make logo smaller*/
a.logo {
    max-width: 400px;
    height: auto;
}
/*END custom nav styles*/


pcb-btn {
    background-color: #000080 !important;
    color: #fafafa;
}

pcb-btn:hover {
    background-color: #fafafa !important;
    color: #000080;
}

/*change color of buttons on bottom of posts*/
body > div.content > main > article > footer > ul > li > a {
    background-color: #000080 !important;
    color: #fafafa !important;
    text-transform: uppercase !important;
}
body > div.content > main > article > footer > ul > li > a:hover {
    background-color: #009975 !important;
    color: #fafafa !important;
}

/*END button style*/

/*START custom font styles*/
h1, header, div.page_header {
    font-size: 1.65em !important;
    text-transform: uppercase !important;
}

body > div.content > main > article > header {
    padding: 0;
}

/*capitalize tag description*/
body > div.content > main > div.page_header > h1 {
    text-transform: uppercase;
}

/*remove lowercase tag description displayed below primary tag description*/
body > div.content > main > div.page__header > p {
    padding-top: 1.5em;
    display: none;
}

h2 {
    font-size: 1.55em !important;
    text-transform: uppercase !important;
}

h3 {
    font-size: 1.45em !important;
    text-transform: uppercase !important;
}

h4, h5, h6 {
    font-size: 1.15em !important;
    text-transform: uppercase !important;
}

body, p {
    font-size: 15px !important;
}

h1:hover, h2:hover, h3:hover {
    color: #009975;
}

.u-small, sup {
display: none !important;
}

/*lower font size for posts*/
header > h2 {
    font-size: 1.15em !important;
}

/*hide count of tagged posts from tagged post page*/
body > div.site-container > main > div.hero > header > div > p {
    display: none !important;
}

/*make tag text on sidebar uppercase*/
.box ul {
    text-transform: uppercase;
}
/*END custom font styles*/

/*START custom font styles for mobile*/
@media screen and (max-width: 600px) {

  h1,h2 {
    font-size: 1.15em !important;
    text-align: left !important;
  }
   
  h3, h4, h5, h6 {
    color: #009975 !important;
    font-size: 1.15em !important;
    text-align: left !important;
  }
}

/*START footer styles*/

/*change color of cookies banner button*/
body > div.pcb > button {
    background-color: #000080;
    color: #fafafa;
}

body > div.pcb > button:hover {
    background-color: #fafafa;
    color: #000080;
}

/*END footer styles*/


/*hide image credits on tagged pages and posts*/
body > div > div > main > div.main__left > header > p {
    display: none;
}

/*hide alt text from images on tagged posts and pages*/
figcaption {
  display: none !important;
