---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getEntry, render } from 'astro:content';

const home = await getEntry('pages', 'home');
const { Content } = home ? await render(home) : { Content: null };
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="fade-up no-top-padding">
      <!-- Row: Full Width Row -->
      <div style="width: 100vw; margin-left: calc(-50vw + 50%); background-color: var(--color-teal-deep); color: var(--color-parchment); padding: 1em; text-align: center;">
        <h1 class="text-huge">Make Waves</h1>
        <h2>Welcome to Marina Bay Media</h2>
        <p>
          Marina Bay Media is on a mission to help emerging businesses and entrepreneurs attract more clients and customers. If you're stressed out about your campaigns, we're here to help you find the best mix of tools, channels, and tactics to win your market.
        </p>
        <!-- Site logo -->
        <a href="/">
          <img src="/20260610-marina-bay-media-logo-large-inverted.png" alt="Marina Bay Media logo" style="height: 7em; width: auto;" />
        </a>
      </div>

      {Content && <Content />}
      
    </main>

    <Footer />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>