---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Join" description="Join Tease" />
  </head>
  <body>
    <Header />
    <main>
      <h1>Join the Tease Club</h1>
      <p>Coming soon.</p>
    </main>
    <Footer />
  </body>
</html>